<!DOCTYPE html>
	<head>
		<meta charset="utf-8">
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google Analytics -->
		<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-XXXXX-Y', 'auto');
		ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
	    <!-- ICONS/FONTS -->
	    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
	    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	    <!-- ******* -->
	    <!-- BOOSTRAP -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="/styles/main.css">
	    <!-- Semantic UI -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet" type="text/css">
	    <!-- JQUERY -->
	    <script src="https://code.jquery.com/jquery-3.2.1.min.js" 
	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
	    crossorigin="anonymous"></script>
	    <title>Portfolio || Samuel Gomez Palomäki</title>
	</head>

	<body>
<!----------------------------- BACKGROUND ------------------------>
			<div class="homepage-hero-module">
			    <div class="video-container">
			    	<nav class="nav-menu ">
				    	<div class="ui six item inverted menu navbar">
				    		<div class="item">
						    	<a href="https://github.com/SammyGP" target="_blank" class="item"><i class="github icon nav-color"></i></a>
						    	<a href="https://www.linkedin.com/in/samuel-gomez-palom%C3%A4ki-a23886139/" target="_blank" class="item"><i class="linkedin icon nav-color"></i></a>
						    </div>
							<a href="/" class="item nav-color">Home</a>
							<a class="item scroll nav-color">About</a>
							<a class="item scroll nav-color">Showcase</a>
							<a class="item scroll nav-color">Skills</a>
							<a class="item scroll nav-color">Contact</a>
						</div>
				    </nav>
			        <div class="filter header flex-container">
			        	<h1>Samuel Gomez Palomäki</h1>
			        	<p>Developer // Creator</p>
			        </div>
			        <div id="down-arrow" class="about-navi"><i class="chevron circle down large icon"></i></div>
			        <video autoplay loop class="fillWidth">
			            <source src="video/Perfect_Hour.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			            <source src="video/Perfect_Hour.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			        </video>
			        <div class="poster hidden">
			            <img src="video/Perfect_Hour.jpg" alt="Homepage background image">
			        </div>
	    		</div>
			</div>
<!-- ************************************************************** -->

<!-- ABOUT -->
		<div id="about-section">
			<div class="ui basic segment" >
			    <h2 class="headline ui centered header">About Me</h2>
			    <p class="about ui basic segment"><span id="hello">Hello, World!</span>
			    I'm Samuel aspiring web developer currently based in Sweden. I'm a self taught front end developer that focuses on JavaScript, I'm always growing my skills learning something new every day.
			    </p>
		   	</div>
		</div>

	    <div id="imgcontainer">
	    	<div class="header-overlay"></div>
	    </div>

<!-- PROJECTS -->
	    <div id="projects-section">
	    	<h1 class="headline ui header">Showcase</h1>
	    	<div class="ui main basic segment">
	    		<!-- FIRST -->
	    		<div class="ui segment hover">
			    	<a href="https://github.com/SammyGP/sneak-peek" target="_blank" class="ui black right corner label">
			    		<i class="code icon"></i>
			    	</a>
		    		<div class="content">
		    			<a href="https://sammygp.github.io/sneak-peek/" target="_blank" class="ui header">Sneek Peek</a>
		    			<div class="description">
		    				<p>A Front-end app that allows the user to look up twitch streamers and add them to a list to keep track of them (temporarily since this is only a client side app)</p>
		    			</div>
		    			<div class="ui basic segment">
		    				<div class="ui label lamp-yellow night-blue">HTML</div>
		    				<div class="ui label lamp-yellow night-blue">CSS</div>
		    				<div class="ui label lamp-yellow night-blue">JS</div>
		    				<div class="ui label lamp-yellow night-blue">JQUERY</div>
		    			</div>
		    		</div>
		    	</div>
	    		<!-- SECOND -->
	    		<div class="ui segment">
	    			<a href="https://github.com/SammyGP/REST-blog" target="_blank" class="ui black right corner label">
			    		<i class="code icon"></i>
			    	</a>
		    		<div class="content">
		    			<a class="ui header">Simple REST Blog</a>
		    			<div class="description">
		    				<p>A full stack RESTful web app that creates and stores users blog posts.</p>
		    			</div>
		    			<div class="ui basic segment">
		    				<div class="ui label lamp-yellow night-blue">HTML</div>
		    				<div class="ui label lamp-yellow night-blue">CSS</div>
		    				<div class="ui label lamp-yellow night-blue">JS</div>
		    				<div class="ui label lamp-yellow night-blue">EJS</div>
		    				<div class="ui label lamp-yellow night-blue">NODE</div>
		    				<div class="ui label lamp-yellow night-blue">EXPRESS</div>
		    				<div class="ui label lamp-yellow night-blue">MONGOOSE</div>
		    				<div class="ui label lamp-yellow night-blue">MONGODB</div>
		    			</div>
		    		</div>
		    	</div>
	    		<!-- THIRD -->
		    		<div class="ui segment">
			    		<div class="content">
			    			<a class="ui header">Music Box</a>
			    			<div class="description">
			    				<p>A full stack application that uses both the Spotify and Youtube API to take a Spotify list and sync it to Youtube and create a playlist of videos from the selected list</p>
			    			</div>
			    			<div class="ui basic segment">
			    				<div class="ui label lamp-yellow night-blue">HTML</div>
			    				<div class="ui label lamp-yellow night-blue">CSS</div>
			    				<div class="ui label lamp-yellow night-blue">JS</div>
			    				<div class="ui label lamp-yellow night-blue">EJS</div>
			    				<div class="ui label lamp-yellow night-blue">NODE</div>
			    				<div class="ui label lamp-yellow night-blue">EXPRESS</div>
			    			</div>
			    		</div>
			    	</div>
	    		<!-- FOURTH -->
		    		<div class="ui segment">
		    			<a href="https://sammygp.github.io/csb-projects/todolist-project/index.html" target="_blank" class="ui black right corner label">
				    		<i class="code icon"></i>
				    	</a>
			    		<div class="content">
			    			<a href="https://github.com/SammyGP/csb-projects" target="_blank" class="ui header">Todo list</a>
			    			<div class="description">
			    				<p>A client side todo list app that lists the users todo's</p>
			    			</div>
			    			<div class="ui basic segment">
			    				<div class="ui label lamp-yellow night-blue">HTML</div>
			    				<div class="ui label lamp-yellow night-blue">CSS</div>
			    				<div class="ui label lamp-yellow night-blue">JS</div>
			    				<div class="ui label lamp-yellow night-blue">JQUERY</div>
			    			</div>
			    		</div>
			    	</div>
	    	</div>
	    	<p>Pssst more projects in my github <a href="https://github.com/SammyGP?tab=repositories" target="_blank">here</a></p>
	    </div>


<!-- SKILLS -->
	<div id="container ui black inverted">
	    <div class="ui grid raised segment" id="skills-section">
	    	<div class="sixteen wide column">
			    <h1 class="headline ui header">Skills</h1>
			    <div class="ui horizontal divider">
			    	<p>Some of the libraries, tools and languages i like to use.</p>
			    </div>
		    </div>
		   

		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="HTML5"><i class="devicon-html5-plain-wordmark colored ui"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
			        	<div data-tooltip="CSS3"><i class="devicon-css3-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Javascript"><i class="devicon-javascript-plain colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Bootstrap"><i class="devicon-bootstrap-plain colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="JQuery"><i class="devicon-jquery-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Vue.js"><i class="devicon-vuejs-line"></i>In Progress....</div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="NodeJS"><i class="devicon-nodejs-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Express"><i class="devicon-express-original-wordmark colored"></i></div>
		        	</div>
		        </div>

		        <div class="eight wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="MongoDB"><i class="devicon-mongodb-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="eight wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="GIT"><i class="devicon-git-plain-wordmark colored"></i></div>
		        	</div>
		        </div>

		</div>
	</div>
	    <div id="imgcontainer2">
	    </div>
<!-- CONTACT -->
	    <!-- seperate /page for contact? -->

		    <div class="contact ui segment" id="contact-section">
		      <h2 class="ui centered header" id="contact-header">Get in touch</h2>
		      <div class="ui divider"></div>
		      <form action="https://formspree.io/gressboldude@gmail.com" method="post">
		      <input type="hidden" name="_next" value="/" />
		      	<div class="ui form">
		      		<div class="three fields">
		      			<div class="field">
		      				<label>Name</label>
		      				<input type="text" name="name" placeholder="Name" />
		      			</div>
		      			<div class="field">
		      				<label>E-mail</label>
		      				<input type="text" name="email" placeholder="E-mail" />
		      			</div>
		      			<div class="field">
		      				<label>Subject</label>
		      				<input type="text" name="subject" placeholder="Subject" />
		      			</div>
		      		</div>
		      		<div class="field">
		      			<label>Message</label>
		      			<textarea name="message" rows="4"></textarea>
		      		</div>
		      		<div class="field">
		      			<input class="ui submit button dark-night" type="submit" />
		      		</div>
		      	</div>
		      </form>
		    </div>
<!--
					<div class="ui inverted divider"></div>


			<footer class="ui inverted vertical segment">
				<div class="ui basic segment">
				    <h2 class="ui inverted header">Social</h2>
				      <ul>
				        <li>Twitter</li>
				        <li>Github</li>
				        <li>Freecodecamp?</li>
				      </ul>
				</div>
		    </footer>-->

		<script src="scripts/scripts.js"></script>
		<script src="scripts/videomodule.js"></script>
	</body>
