<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- ICONS -->
	    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	    <!-- ******* -->
	    <!-- BOOSTRAP -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	    <link rel="stylesheet" type="text/css" href="/styles/main.css">
	    <!-- Semantic UI -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet" type="text/css">
	    <!-- JQUERY -->
	    <script src="http://code.jquery.com/jquery-3.2.1.min.js" 
	    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
	    crossorigin="anonymous"></script>
	    <title>SGP</title>
	</head>

	<body>
<!----------------------------- BACKGROUND ------------------------>
			<div class="homepage-hero-module">
			    <div class="video-container">
			    	<nav class="nav-menu ">
				    	<div class="ui six item inverted menu">
						      	<a href="/" class="orange item">SGP</a>
							    <a href="/" class="item">Home</a>
							    <a class="item scroll">About</a>
							    <a class="item scroll">Projects</a>
							    <a class="item scroll">Skills</a>
							    <a class="item scroll">Contact</a>
						</div>
				    </nav>
			        <div class="filter header flex-container">
			        	<h1>Samuel Gomez Palomäki</h1>
			        	<p>Developer // Creator</p>
			        </div>
			        <div id="down-arrow" class="about-navi"><i class="chevron circle down large icon"></i></div>
			        <video autoplay loop class="fillWidth">
			            <source src="video/Perfect_Hour.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
			            <source src="video/Perfect_Hour.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
			        </video>
			        <div class="poster hidden">
			            <img src="video/Perfect_Hour.jpg" alt="">
			        </div>
	    		</div>
			</div>
<!-- ************************************************************** -->

<!--
	implement a parallax scrolling of the header image (instead of scolling down the page bellow scrolls up)
-->

		<div id="about">
		    <span><img /></span>
		    <h2>About Me</h2>
		    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	    <div id="imgcontainer">
	    	<div class="header-overlay"></div>
	    </div>

	    <div class="projects" id="projects">
	    <h3>Showcase</h3>
	      <ul>
	        <li><a href="">Proj 1</a></li>
	        <li><a href="">Proj 2</a></li>
	      </ul>
	    </div>

	    <div class="skills ui grid raised segment" id="skills">
	    	<div class="sixteen wide column">
		    	<h3>Skills</h3>
		    	<p>Some of the libraries, tools and languages i like to use.</p>
		    </div>
		   

		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="HTML5"><i class="devicon-html5-plain-wordmark colored ui"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
			        	<div data-tooltip="CSS3"><i class="devicon-css3-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Javascript"><i class="devicon-javascript-plain colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Bootstrap"><i class="devicon-bootstrap-plain colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="JQuery"><i class="devicon-jquery-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="React"><i class="devicon-react-original-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="NodeJS"><i class="devicon-nodejs-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="four wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="Express"><i class="devicon-express-original-wordmark colored"></i></div>
		        	</div>
		        </div>

		        <div class="eight wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="MongoDB"><i class="devicon-mongodb-plain-wordmark colored"></i></div>
		        	</div>
		        </div>
		        <div class="eight wide column">
		        	<div class="grid-item">
		        		<div data-tooltip="GIT"><i class="devicon-git-plain-wordmark colored"></i></div>
		        	</div>
		        </div>


	    </div>
	    <div id="imgcontainer2">
	    	
	    </div>
	    <!-- seperate /page for contact? -->

		    <div class="contact" id="contact">
		      <h3>Contact</h3>
		      <form>
		        <input type="text" name="name" value="What's your name?" />
		        <input type="text" name="email" value="What's your e-mail?" />
		        <input type="text" name="message" value="What's your message?" />
		      </form>
		    </div>

		    <footer>
		    <h3>Social</h3>
		      <ul>
		        <li>Twitter</li>
		        <li>Github</li>
		        <li>Freecodecamp?</li>
		      </ul>
		    </footer>

		<script src="scripts/scripts.js"></script>
		<script src="scripts/videomodule.js"></script>
	</body>
</html>